name: Run all
on:
  workflow_dispatch:
jobs:
  upload-git:
    uses: colchetedao/streakCounter/.github/workflows/git.yml@main
    secrets: inherit
    with:
      exec: |
        while read -r user; 
            do 
              bash saveContributionCountPerDay.sh $user "$GITHUB_TOKEN"
              bash calculateUserStreak.sh $user
              bash generateUserBadge.sh $user
              bash statistics.sh $user
              bash yearCommitmentChart.sh $user
              bash yearDominanceChart.sh $user
            done < <(jq -r '.users[]' "config/run.json")
