name: Run all
on:
  workflow_dispatch:
jobs:
  build:
    environment: main
    runs-on: ubuntu-latest
    container: juancolchete/imagemagickgithubactions:latest
    steps:
      - uses: actions/checkout@v4
      - name: Run all
        shell: bash
        run: |
            while read -r user; 
            do 
              bash saveContributionCountPerDay.sh $user "${{ secrets.GITHUB_TOKEN }}"
              bash calculateUserStreak.sh $user
              bash generateUserBadge.sh $user
              bash statistics.sh $user
              bash yearCommitmentChart.sh $user
              bash yearDominanceChart.sh $user
            done < <(jq -r '.users[]' "config/run.json")
            
      - name: Upload to git
        id: uploadGit
        shell: bash
        run: |
          curl -s https://raw.githubusercontent.com/juancolchete/utils/main/gitUpload.sh | bash /dev/stdin ${{ vars.GIT_UPLOAD_PARAMS }}
