name: Generate user badge
on:
  workflow_dispatch:
jobs:
  build:
    environment: main
    runs-on: ubuntu-latest
    container: juancolchete/imagemagickgithubactions:latest
    steps:
      - uses: actions/checkout@v4
      - name: Generate user badge
        shell: bash
        run: |
            while read -r user; 
            do 
              bash generateUserBadge.sh $user
            done < <(jq -r '.users[]' "config/run.json")
            
      - name: Upload to git
        id: uploadGit
        shell: bash
        run: |
          curl -s https://raw.githubusercontent.com/juancolchete/utils/main/gitUpload.sh | bash /dev/stdin juancolchete juancolchete@gmail.com /__w/streakCounter/streakCounter
