name: Calculate user streak
on:
  workflow_dispatch:
jobs:
  build:
    environment: main
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Calculate user streak
        run: |
            curl --location 'https://api.github.com/graphql' --header 'Content-Type: application/json' --header "Authorization: ${{ secrets.PAT_GITHUB_TOKEN }}" --data '{"query": "query { user(login: \"juancolchete\") { name createdAt contributionsCollection { startedAt contributionCalendar { totalContributions weeks { contributionDays { date contributionCount } } } } } }"}' 
        #bash calculateStreak.sh juancolchete "${{ secrets.PAT_GITHUB_TOKEN }}"
