name: Save user contribution and calculate user streak and generate user badge
on:
  workflow_dispatch:
  schedule:
    - cron: "59 9,15,21 * * *"
jobs:
  upload-git:
    uses: colchetedao/streakCounter/.github/workflows/git.yml@main
    secrets: inherit
    with:
      exec: |
        while read -r user; 
        do 
          bash saveContributionCountPerDay.sh $user "$GITHUB_TOKEN"
          bash calculateUserStreak.sh $user
          bash generateUserBadge.sh $user
        done < <(jq -r '.users[]' "config/run.json")
