name: Save contribution count per day
on:
  workflow_dispatch:
  workflow_call: 
jobs:
  upload-git:
    uses: colchetedao/streakCounter/.github/workflows/git.yml@main
    secrets: inherit
    with:
      exec: |
        while read -r user; 
        do 
          bash saveContributionCountPerDay.sh $user "$GITHUB_TOKEN"
        done < <(jq -r '.users[]' "config/run.json")
