name: Generate statistics
on:
  workflow_dispatch:
jobs:
  build:
    environment: main
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Generate statistics
        shell: bash
        run: |
            while read -r user; 
            do 
              bash statistics.sh $user
            done < <(jq -r '.users[]' "config/run.json")
            
      - name: Upload to git
        id: uploadGit
        shell: bash
        run: |
          curl -s https://raw.githubusercontent.com/juancolchete/utils/main/gitUpload.sh | bash /dev/stdin ${{ vars.GIT_UPLOAD_PARAMS }}
