name: Generate year dominance chart
on:
  workflow_dispatch:
jobs:
  upload-git:
    uses: colchetedao/streakCounter/.github/workflows/git.yml@main
    secrets: inherit
    with:
      exec: |
        while read -r user; 
        do 
          bash yearDominanceChart.sh $user
        done < <(jq -r '.users[]' "config/run.json")
